/* footer {
    background-color: #766a61;
    padding: 15px;
    position: absolute;
    color: #ffffff;
    width: 100%;
    bottom: 0;
}
.share-w {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
} */