.socialMedia_box {
    cursor: pointer;
    min-height: 70px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.socialMedia_box {
    text-transform: capitalize;
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
}

.socialMedia_box p {
  margin: 0;
}
.socialMedia_box .copy-title {
  display: none;
}
.socialMedia_box:hover .copy-title {
  display: block;
}
.socialMedia_box .copy-code {
  margin-right: 10px;
}
.socialMedia_box:hover .copy-code {
  display: none;
}