body,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: gray;
}
.App {
  text-align: center;
  position: relative;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
table td,
table th {
  color: rgba(255, 255, 255, 0.5);
}
.body-w {
  margin-top: 70px;
}
.margin-top-0 {
  margin-top: 0;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
