@font-face {
  font-family: "Varela Round";
  src: url('./utilities/fonts/VarelaRound-Regular.ttf');
}
@font-face {
  font-family: "Flood";
  src: url('./utilities/fonts/Flood.ttf');
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Varela Round", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #202121;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Varela Round",
    monospace;
}
